body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}

.container {
    width: 1060px;
    height: 20vh;
    margin: 0 auto;
}

#search {
    width: inherit;
    height: 40px;
}

.search {
    justify-content: center;
    float: right;
    display: block;
    width: 440px;
    height: 37px;
    border: 1px solid #faa61a;
    background-color: #faa61a;
    padding-bottom: 5px;
}

.search input {
    margin-left: 24px;
    width: 225px;
    height: 22px;
}

.search button {
    margin-left: 9px;
    background-color: #faa61a;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Century Gothic;
}

.twitter-img,
.facebook-img {
    padding: 2px 10px;
    margin-left: 5px;    
}

.lispum-media,
.lispum-title,
.footer-flex {
    display: flex;
    margin: 0;
    padding: 0;
}

.lispum-title,
.cols-one {
    flex-basis: 31%;
}

.lispum-menu,
.cols-two {
    flex-grow: 3;
}

nav {
    float: right;
}

.menu {
    display: flex;
    margin: 55px 0 0 0;
    padding: 0;
}

.menu li {
    margin-left: 34px;
    color: #faa61a;
}

.menu a {
    color: #000000;
    text-decoration: none;
    font-family: cicle-fina;
    text-transform: uppercase;
}

.lipsum-present {
    
}

.present-title {
    padding: 10px 0 0 0;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: Source Sans Pro bold;
    font-size: 41px;
}

.shows-img {
    position: absolute;
    top: 700px;
    left: 200px;
}

.insert-show-title {
    position: absolute;
    top: 370px;
    left: 140px;
    width: 230px;
    height: 50px;
    padding: 10px;
    opacity: 0.8;
    background-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 0;
}

.insert-show-title h3 {
    padding: 5px;
    margin: 0;
    text-align: left;
    color: #ffffff;
    font-size: 30px;
    font-family: Source Sans Pro Light;
}
.items h2 {
    background-color: #ffffff;
    display: block;
    width: 150px ;
    text-transform: uppercase;
    font-family: Source Sans Pro Bold;
    font-size: 16px;
    text-align: center;
}

.items p {
    color: #ffffff;
    line-height: 1.55em;
    padding-left: 5px;
}

.description-title h2 {
    padding: 2px;
    margin: 0;
    margin-left: 10px;
    text-transform: uppercase;
    font-family: Source Sans Pro Bold;
}

.description p {
    margin-left: 10px;
    line-height: 2.15em;
    padding: 2px;
}

.description-button {
    background-color: #faa61a;
    width: 30px;
    height: 30px;
}

.read p {
    background-color: #000000;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.our {
    margin-top: 570px;
    display: flex;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
}

.our h2 {
    text-transform: uppercase;
    font-family: Source Sans Pro Bold;
}

.services,
.contact {
    flex-basis: 30%;
    margin-left: 10px;
}

.services ul {
    display: block;
    margin-left: 10px;
    padding: 0;
}

.services li {
    list-style-image: url("../img/list.png");
    padding-bottom: 20px;
}

.services a {
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: inherit
}
.know {
    flex-basis: 45%;
    padding: 0 15px ;
    border-left: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
}

.contact ul {
    display: block;
    margin-left: 20px;
    padding: 0;
}

.contact li {
    list-style-image: url("../img/icons-1.png");
    margin-left: 15px;
    padding-bottom: 15px;
}

.contact p {
    font-size: 18px;
    font-family: Source Sans Pro Bold;
    color: #ffffff;
    background-color: #000000;
    width: 110px; 
    padding: 5px;
}

.icons2 {
    list-style-image: url("../img/icons-2.png");
}

.icons3 {
    list-style-image: url("../img/icons-3.png");
}

.icons4 {
    list-style-image: url("../img/icons-4.png");
}

.our-clients {
    padding-top: 450px;
}

.footer-flex {
    padding-top: 50px;
}

.footer-menu {
    margin-left: 200px;
    padding: 0;
}

.footer-menu ul {
    display: flex;
    border-bottom: 1px solid #cccccc;
}

.footer-menu li {
    display: block;
    margin-right: 22px;
}

.footer-menu a {
    color: #000000;
    text-transform: uppercase;
    font-family: Source Sans Pro Light;
    text-decoration: none;
}